:root {
  --main-fg-color: #e3d7ba;
  --comments-fg-color: #a19882;
  --comments-fg-color: #857d6a;
  --brighter-main-fg-color: #fff1d1;
  --main-fg-opacity-color: #e3d7ba55;
  --main-fg-lower-opacity-color: #e3d7ba33;
  --accent-color: #ffba6b;
  --accent-comment-color: #b8864d;
  --main-bg-opacity-color: #ffba6b33;
  --mobile-main-bg-topics-color: #ffba6b55;
  --transparent: #00000000;
}

* {
      user-select: none;
      -webkit-user-select: none; /*Safari*/
      -moz-user-select: none; /*Firefox*/
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Bai Jamjuree', sans-serif;
      color: var(--main-fg-color);
}

#briefcase {
      display: block;
      position: relative;
}

.briefcase-bg {
      position: absolute;
      background-color: black;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none;
      transition: opacity .9s ease;
}

#briefcase-locked {
      /* position: absolute; */
      /* top: 0px; */
      /* background-color: black; */
      /* background-size: 100vw; */
      /* width: 100vw; */
      /* height: 100vw; */
}

.briefcase-absolute {
      position: absolute;
      top: 0px;
      /* background-image: url( "../img/briefcase-unlocking/briefcase-00.png" ); */
      background-size: 105vw;
      background-repeat:no-repeat;
      background-position: center;
      width: 100vw;
      height: 100vh;
}

      #briefcase-locked-status-00 {
            background-image: url( "../img/briefcase-unlocking/briefcase-00-optimized.png" );
            z-index: 3;
      }
      #briefcase-locked-status-01 {
            background-image: url( "../img/briefcase-unlocking/briefcase-01-optimized.png" );
            z-index: 2;
      }
      #briefcase-locked-status-10 {
            background-image: url( "../img/briefcase-unlocking/briefcase-10-optimized.png" );
            z-index: 2;
      }
      #briefcase-locked-status-11 {
            background-image: url( "../img/briefcase-unlocking/briefcase-11-optimized.png" );
            z-index: 2;
      }

#briefcase-unlocked{
      position: absolute;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      /* display: none; */
}

/* .briefcase-transition { */
/*       transition: top 1.0s ease-in; */
/* } */

      #briefcase-unlocked-top {
            background-image: url( "../img/briefcase-opening/brief-top-half-optimized.png" );
            z-index: 2;
            filter: none;
            top: 0px;
      }

      #briefcase-unlocked-bottom {
            background-image: url( "../img/briefcase-opening/brief-bottom-half-optimized.png" );
            z-index: 2;
            filter: none;
            top: 0px;
      }

.pointer-probe {
      pointer-events: none;
}

#briefcase-padlocks-hitboxes {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0px;
      display: flex;
      flex-direction: row;
      z-index: 4;
}

#briefcase-left-padlock {
      width: 50vw;
      height: 100vh;
      /* border: 1px solid black; */
}
#briefcase-right-padlock {
      width: 50vw;
      height: 100vh;
      /* border: 1px solid black; */
}

#briefcase-shadows {
      display: block;
      position: absolute;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
}

#briefcase-shadows > div {
      position: absolute;
      width: 100vw;
      height: 50vh;
      z-index: 1;
      box-shadow: 0 0 100px rgba(0, 0, 0, 1.0), 0 0 100px rgba(0, 0, 0, 1.0), 0 0 100px rgba(0, 0, 0, 1.0);
}

#briefcase-top-half-shadow {
      top: 0;
      transition: top .5s ease;
}
#briefcase-bottom-half-shadow {
      top: 50vh;
      transition: top .5s ease;
}

.briefcase-interior {
      position: absolute;
      height: 100vh;
      width: 100vw;
}


.bg-color {
      position: absolute;
      top: 0;
      z-index: -5;
      height: 100vh;
      width: 100vw;
      background-color: #301d09;
}

.bg-img {
      position: absolute;
      top: 0;
      z-index: -4;
      height: 100vh;
      width: 100vw;
      background-image: url( "/img/leather-background.jpg" );
      filter: brightness(85%);
      background-position:center;
      background-size:cover;
      background-repeat:no-repeat;
}
.main-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      transform: scale(0.90);
      transition: transform 0.50s ease;
      z-index: 0;
}


.left-box {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;
      font-size: 1rem;
      width: 28.3vw;
      height: 44.4vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.left-box::-webkit-scrollbar {
      display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.left-box {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}


.mid-box {
      display: flex;
      width: 4.30vw;
      height: 10vh;
}

.right-box {
      display: flex;
      position:relative;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;
      width: 28.3vw;
      height: 44.4vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.right-box::-webkit-scrollbar {
      display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right-box {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}

.right-box-wrapper {
      position: relative;
      width: 26.6vw;
      top: 0px;
      background-color: #00000000;
      transition: background-color 1.0s ease-in;
      font-size: 1.125rem;
}

.name {
      font-size: 3.3125em;
      font-weight: 600;
      border-bottom: 1px solid var( --main-fg-opacity-color );
      margin-bottom: 15px;
}

.occupation-box{
      padding: 0px 10px;
      margin-bottom: 25px;
}

.occupation {
      font-size: 1.5em;
      font-weight: 500;
      /* opacity: 80%; */
      color: var( --comments-fg-color );
}

.occupation-descr {
      font-size: 1.125em;
      font-weight: 400;
      /* opacity: 80%; */
      color: var( --comments-fg-color );
}

.topics-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 25px;
}

.wrapper-topics {
      font-weight: 400;
      width: 100%;
      background-color: var( --transparent );
      color: inherit;
      border-radius: 8px;
}


.noanimation {
      animation: none;
}

.notransition {
      transition: none;
}

.topics {
      position: relative;
      width: 100%;
      font-size: 1.125em;
      font-weight: 400;
      font-style: italic;
      background-color: var( --transparent );
      transition: 
      left 0.25s ease-in,
      color 0.25s ease-in,
      font-weight 0.10s ease-in;
      left: 0px;
}


.social-networks {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
}

.social-networks a {
      text-decoration: none;
}

.social-icon-hitbox-link {
      margin-right: 18px;
      font-size: 2.0em;
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      color: var(--comments-fg-color);
      transition: color 0.10s linear;
}


.social-icon-hitbox-link i{
      color: inherit;
      /* transition: opacity 0.10s linear; */
      /* opacity: 50%; */
      /* color: var(--comments-fg-color); */
}


.social-icon-hitbox-link div {
      color: inherit;
      display: block;
      height: 100%;
      /* min-width: 100%; */
      max-width: 0;
      overflow: hidden;
      font-size: 0.6em;
      text-decoration: none;
      text-align: center;
      vertical-align:middle;
      transition: max-width ease .5s;
}

.social-icon-hitbox-link:hover{
      color: var( --accent-color );
}

.social-icon-hitbox-link:hover div{
      max-width: 400px;
}

.name,
.social-networks,
.wrapper-topics > *
{
      padding: 10px;
}

.experience-section,
.about-section > * {
      padding: 10px;
}

.experience-section > *,
.about-section > *,
.projects-section > * {
      background-color: var( --transparent );
}

.about-section {
      display: flex;
      border-radius: 8px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 1em;
      margin-bottom: 70px;
      background-color: var( --transparent );
      transition: background-color 1.0s ease-in;
}

.experience-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 8px;
      justify-content: flex-start;
      font-size: 1em;
      gap: 40px 0px;
      width: 100%;
      margin-bottom: 70px;
      background-color: var( --transparent );
      transition: background-color 1.0s ease-in;
}

.exp-row {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: var( --transparent );
}

.position-date {
      padding-right: 10px;
      width: 27%; 
      /* opacity: 70%; */
      font-weight: 500;
      font-size: 0.8em;
      position: relative;
      top: 4px;
      color: var( --comments-fg-color );
      background-color: var( --transparent );
}

.position {
      display: flex;
      width: 73%; 
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: var( --transparent );
}

.position-title {
      font-size: 1em;
      font-weight: 500;
      background-color: var( --transparent );
}

.position-descr {
      font-size: 1em;
      /* opacity: 60%; */
      color: var( --comments-fg-color );
      background-color: var( --transparent );
}


.projects-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: 8px;
      background-color: var( --transparent );
      transition: background-color 1.0s ease-in;
      font-size: 1em;
}

.projects-section {
      padding: 10px;
}

.proj-row {
      border-radius: 12px 0px 0px 12px;
      /* padding: 10px; */
      padding-right: 10px;
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 30px;
      background-color: var( --transparent );
      transition: color 0.10s ease-in;
      transition: transform 0.10s ease-in;
      font-weight: 500;
      text-decoration: none;
      border-right: 2px solid var( --comments-fg-color );
}

.proj-row:hover {
      color: var( --accent-color );
      cursor: pointer;
      /* transform: scale(0.96); */
      text-decoration: underline;
      text-underline-position: under;
      border-right: 10px solid var( --main-fg-color );
      /* background-color: var( --main-bg-opacity-color ); */
}

.proj-row:hover .proj-img {
      filter: blur(0px) brightness(80%);
}




.proj-row:active {
      opacity: 40%;
}

.proj-title {
      width: 50%;
      height: 100px;
      background-color: var( --transparent );
      transition: inherit;
      font-weight: inherit;
      color: inherit;
      text-align: right;
}

.place-highlight {
      color: var( --accent-comment-color );
}

.proj-img {
      width: 200px;
      height: 113px;
      border-radius: 12px 0 0 12px;
      overflow: hidden;
      background-color: var( --transparent );
      transition:inherit ;
      filter: blur(2px) brightness(50%);
      /* border: 1px solid var( --main-fg-color ); */
}

.proj-img img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
      background-color: var( --transparent );
      /* transition: ease 5s all ; */
}



.hide-on-desktop {
      display: none;
}




/* ---------- MEDIA QUERIES */


@media screen and ( max-width: 1583px ){
      .left-box {
            font-size: 0.75rem;
      }

      .right-box-wrapper {
            font-size: 0.90rem;
      }

      .proj-img {
            /* filter: brightness(80%); */
            width: 150px;
            height: 84px;
      }

}
@media screen and ( max-width: 1360px ){
      .social-icon-hitbox-link div {
            font-size: 0.5em;
      }
      .social-icon-hitbox-link {
            font-size: 1.7em;
      }
}


@media screen and ( max-width: 1200px ){

      #briefcase {
            display: none;
      }

      .hide-on-desktop {
            display: block;
      }

      .main-box{
            display: block;
            padding: 10px;
            overflow:auto;
            margin: auto;
      }

      .left-box {
            display: block;
            width: 100%;
            height: auto;
            margin-top: 40px;
            margin-bottom: 40px;
      }

      .name {
            font-size: 4.8em;
            border: none;
            margin-bottom: 0px;
      }
      .name-border-wrapper {
            padding: 0px 10px;
            margin-bottom: 15px;
      }
      .name-border {
            border-bottom: 1px solid var( --comments-fg-color );
      }


      .social-icon-hitbox-link {
            margin-right: 25px;
            font-size: 2.3em;
      }

      .mid-box {
            display: none;
      }

      .sticky {
            position: sticky;
            top: 0;
            left: 0;
      }


      .right-box {
            height: auto;
            width: 100%;
      }

      .right-box-wrapper {
            width: 100%;
      }

      .topics-box {
            display: none;
      }

      .mobile-topics {
            position: sticky;
            top: 0;
            border-radius: 8px;
            overflow: hidden;
            z-index: 2;
      }

      .mobile-topics-wrapper {
            padding: 10px;
            font-weight: 600;
            background-color: var( --mobile-main-bg-topics-color );
            backdrop-filter: blur(8px);
            z-index: 1;
      }

      .position-date {
            z-index: 0;
      }

      .proj-img {
            width: 140px;
            height: 79px;
      }

      .about-section {
            margin-top: 15px;
      }

      .experience-section {
            margin-top: 15px;
      }

      .projects-section {
            margin-top: 15px;
      }

      .proj-row:hover {
            color: var( --accent-color );
            cursor: none;
            transform: none;
            text-decoration: none;
      }

}

@media screen and ( max-width: 768px ){

      .name {
            width: 200px;
            font-size: 4.5em;
      }

}


@media screen and ( max-width: 430px ){


      .name {
            font-size: 4.0em;
      }

}

@media screen and ( max-width: 320px ){


      .name {
            font-size: 3.3em;
      }

}


