:root {
  --main-fg-color: #e4e3ff;
  --brighter-main-fg-color: #f0f0ff;
  --main-fg-opacity-color: #e4e3ff55;
  --main-bg-color: #c0bdfc;
  --transparent: #00000000;
}

* {
      user-select: none;
      -webkit-user-select: none; /*Safari*/
      -moz-user-select: none; /*Firefox*/
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Bai Jamjuree', sans-serif;
      color: var(--main-fg-color);
      background-color: #33333300;
}

.main-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      background-image: url( "../img/video-poster.png" );
      background-position:center;
      background-size:cover;
      background-repeat:no-repeat;

}

.left-box {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;
      font-size: 1rem;
      width: 28.3vw;
      height: 44.4vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.left-box::-webkit-scrollbar {
      display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.left-box {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}


.mid-box {
      display: flex;
      width: 4.30vw;
      height: 10vh;
}

.right-box {
      display: flex;
      position:relative;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;
      width: 28.3vw;
      height: 44.4vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.right-box::-webkit-scrollbar {
      display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right-box {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}

.right-box-wrapper {
      position: relative;
      width: 26.6vw;
      top: 0px;
      background-color: #00000000;
      transition: background-color 1.0s ease-in;
      font-size: 1.125rem;
}

.name {
      font-size: 3.3125em;
      font-weight: 700;
      border-bottom: 1px solid var( --main-fg-opacity-color );
      margin-bottom: 15px;
}

.occupation-box{
      padding: 0px 10px;
      margin-bottom: 25px;
}

.occupation {
      font-size: 1.5em;
      font-weight: 500;
      opacity: 80%;
}

.occupation-descr {
      font-size: 1.125em;
      font-weight: 400;
      opacity: 40%;
      /* color: #D3C6AA99 */
}

.topics-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 25px;
}

.wrapper-topics {
      font-weight: 400;
      width: 100%;
      background-color: var( --transparent );
      color: inherit;
      border-radius: 8px;
}


.noanimation {
      animation: none;
}

.notransition {
      transition: none;
}

.topics {
      position: relative;
      width: 100%;
      font-size: 1.125em;
      font-weight: 400;
      font-style: italic;
      background-color: var( --transparent );
      transition: 
      left 0.25s ease-in,
      color 0.25s ease-in,
      font-weight 0.10s ease-in;
      left: 0px;
}


.social-networks {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
}

.social-icon-hitbox-link {
      margin-right: 18px;
      font-size: 2.0em;
}

.social-icon-hitbox-link i{
      transition: opacity 0.10s linear;
      opacity: 50%;
      color: var( --main-fg-color );
}

.social-icon-hitbox-link i:hover{
      opacity: 100%;
}

.social-icon {
}

.name,
.social-networks,
.wrapper-topics > *
{
      padding: 10px;
}

.experience-section,
.about-section > * {
      padding: 10px;
}

.experience-section > *,
.about-section > *,
.projects-section > * {
      background-color: var( --transparent );
}

.about-section {
      display: flex;
      border-radius: 8px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 1em;
      margin-bottom: 70px;
      background-color: var( --transparent );
      transition: background-color 1.0s ease-in;
}

.experience-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 8px;
      justify-content: flex-start;
      font-size: 1em;
      gap: 40px 0px;
      width: 100%;
      margin-bottom: 70px;
      background-color: var( --transparent );
      transition: background-color 1.0s ease-in;
}

.exp-row {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: var( --transparent );
}

.position-date {
      padding-right: 8px;
      width: 27%; 
      opacity: 70%;
      font-weight: 500;
      font-size: 0.8em;
      position: relative;
      top: 4px;
      background-color: var( --transparent );
}

.position {
      display: flex;
      width: 73%; 
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: var( --transparent );
}

.position-title {
      font-size: 1em;
      font-weight: 500;
      background-color: var( --transparent );
}

.position-descr {
      font-size: 1em;
      opacity: 60%;
      background-color: var( --transparent );
}


.projects-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: 8px;
      background-color: var( --transparent );
      transition: background-color 1.0s ease-in;
      font-size: 1em;
}

.projects-section {
      padding: 10px;
}

.proj-row {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 30px;
      background-color: var( --transparent );
      transition: color 0.10s ease-in;
      transition: transform 0.10s ease-in;
      font-weight: 500;
      text-decoration: none;
}

.proj-row:hover {
      color: var( --brighter-main-fg-color );
      cursor: pointer;
      transform: scale(0.96);
      text-decoration: underline;
}

.proj-row:active {
      opacity: 40%;
}

.proj-title {
      background-color: var( --transparent );
      transition: inherit;
      font-weight: inherit;
      color: inherit;
}

.proj-img {
      width: 200px;
      height: 113px;
      border-radius: 12px;
      overflow: hidden;
      background-color: var( --transparent );
      transition:inherit ;
}

.proj-img img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
      background-color: var( --transparent );
      transition:inherit ;
}


.hide-on-desktop {
      display: none;
}




/* ---------- MEDIA QUERIES */


@media screen and ( max-width: 1583px ){
      .left-box {
            font-size: 0.75rem;
      }

      .right-box-wrapper {
            font-size: 0.90rem;
      }

      .proj-img {
            width: 150px;
            height: 84px;
      }

}

@media screen and ( max-width: 1200px ){

      .hide-on-desktop {
            display: block;
      }

      .main-box{
            display: block;
            padding: 10px;
            overflow:auto;
            margin: auto;
      }

      .left-box {
            display: block;
            width: 100%;
            height: auto;
            margin-top: 40px;
            margin-bottom: 40px;
      }

      .name {
            border: none;
            margin-bottom: 0px;
      }
      .name-border-wrapper {
            padding: 0px 10px;
            margin-bottom: 15px;
      }
      .name-border {
            border-bottom: 1px solid var( --main-fg-opacity-color );
      }

      .mid-box {
            display: none;
      }

      .sticky {
            position: sticky;
            top: 0;
            left: 0;
      }


      .right-box {
            height: auto;
            width: 100%;
      }

      .right-box-wrapper {
            width: 100%;
      }

      .topics-box {
            display: none;
      }

      .mobile-topics {
            position: sticky;
            top: 0;
            border-radius: 8px;
            overflow: hidden;
            z-index: 2;
      }

      .mobile-topics-wrapper {
            padding: 10px;
            font-weight: 600;
            background-color: var( --transparent );
            backdrop-filter: blur(4px);
            z-index: 1;
      }

      .position-date {
            z-index: 0;
      }

      .proj-img {
            width: 140px;
            height: 79px;
      }

      .about-section {
            margin-top: 15px;
      }

      .experience-section {
            margin-top: 15px;
      }

      .projects-section {
            margin-top: 15px;
      }

}

@media screen and ( max-width: 768px ){


}


@media screen and ( max-width: 430px ){


      .name {
            font-size: 2.8em;
      }

}


